@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:wght@400;700&display=swap');
// -----------------------------------------------------------------------------
// Section: Bootstrap Variable Overrides
// -----------------------------------------------------------------------------
// Reference:
// - Bootstrap Documentation: https://getbootstrap.com/docs/
// - Variable Defaults: https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// -----------------------------------------------------------------------------
$primary: #CD7C7C;
$font-family-base: 'Roboto', sans-serif;
$font-titles: 'Road Rage', cursive;
$secondary: #7D7878;

// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';

// -----------------------------------------------------------------------------
// Section: Custom Styles
// -----------------------------------------------------------------------------
// This section contains custom SCSS rules that extend or override Bootstrap's
// default styles. These styles are specific to the project and are not tied
// directly to Bootstrap's variables.
// -----------------------------------------------------------------------------
body {
  font-family: $font-family-base;
}

.mi-card {
  height: 490px;
}

.altura-img {
  // width: 100%;
  object-fit: fill;
  width: 300px;
  height: 230px;
}

h1,
h2,
h3 {
  font-family: $font-titles;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #CD7C7C !important;
  }
}